.add_carrinho {
  border: solid 2px darkred;
  cursor: pointer;
  width: 100%;
  background-color: red;
  color: white;
  font-family: Arial;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5vh;
}
.kart {
  position: fixed;
  top: 2vh;
  right: 0;
  z-index: 999;
  border: solid 5px darkred;
  background-color: red;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
.titulo_carrinho {
  font-family: Arial;
  color: white;
  padding: 4px;
  width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  background: #e42626;
  border: solid 5px #7c1289;
  margin-bottom: 2vh;
}
.container_produto {
  /* border: solid 2px black; */
  margin: 0 auto;
  max-width: 500px;
}
.cada_produto {
  max-width: 100%;
  padding: 5px;
  border-radius: 5px;
  border-bottom: 2px solid #7c1289;
  color: white;
  font-family: Arial;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}
.cada_produto + .cada_produto {
  margin-top: 2vh;
}
#total {
  margin: 0 auto;
  max-width: 500px;
  /* border: solid 2px black; */
  text-align: center;
  font-size: 30px;
  font-family: Arial;
}
.forma_de_pagamento {
  /* border: solid 2px #7c1289; */
  margin: 0 auto;
  max-width: 500px;
  /* background-color: black; */
  text-align: center;
  display: flex;
}
